<div class="col-lg-4 col-lg-offset-4">
  <h2>Sign in</h2>
  <%= devise_error_messages! %>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="form-group">  
      
      <div><%= f.text_field :login, :autofocus => true, :class => "form-control", :placeholder => "Username or Email Address" %></div><br>
    
      <div><%= f.password_field :password, :class => "form-control", :placeholder => "Password" %></div><br>
      
      <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
    </div>
  <% end %>

  <hr>

  <a href="/users/auth/twitter">
      <button class="btn btn-info">
        <i class="fa fa-twitter"></i> | Sign up with Twitter
      </button>
      <br>
  </a>

  <%= render "devise/shared/links" %>
</div>