<!-- Post partial -->

<div class="post">
  <%= render partial: 'votes/voter', locals: { post: post } %>
  <%= link_to post.title, post %> 
  | 
  (<%= post.urllink %>)
  <br>
  Posted by <%= post.user.username unless post.user.nil? %>
  <br>
  on <%= post.created_at %>
  <br>
  | Comments (<%= post.comments.count %>)
</div>