<div class="col-lg-10 col-lg-offset-1 col-sm-12 post-container">
  
<% count = ((params[:page] || 1).to_i - 1) * 25 %>  
<% @posts.each_with_index do |post, index| %>
  <div class="post">
    <ul class="list-inline post-margin">
      <li class="pull-left"><%= count + index + 1 %>.</li>
      <li><%= link_to post.urllink, post %></li>
      <li class="post-link">(<%= post.urllink %>)</li>
    </ul>

    <ul class="list-inline post-info post-margin">
      <li><%= render partial: "votes/voter", locals: { post: post } %></li>
      <li>Posted by <%= post.user.username unless post.user.nil? %> on <%= post.created_at.strftime("%D") %></li>
      <li><%= link_to "Comment".pluralize(post.comments.count), post %> (<%= post.comments.count %>)</li>
      <li id="post-<%= post.id %>-points"><%= post.points %> <%="point".pluralize(post.points) %></li>
    </ul>
  </div>

  <% end %>

  <div class="text-center"><%= will_paginate @collection, page_links: false,renderer: BootstrapPagination::Rails %></div>

</div>